.venv/
runs/detect/predict
runs/detect/predict-2
runs/detect/predict-3
runs/detect/predict-4
runs/detect/predict-5
runs/detect/predict-6
runs/detect/predict-7
runs/detect/predict-8
runs/detect/predict-9
runs/detect/predict-10
runs/detect/track
runs/detect/track-2
runs/detect/track-3
runs/detect/track-4
runs/detect/track-5
runs/detect/track-6
runs/detect/track-7
runs/detect/track-8
runs/detect/track-9
detect.zip
BitStream/
.vscode/
